<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin1</title>
</head>
<body>
    

<table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
        {% for post in report %}
      <tr>
        <th scope="row">{{post.sno}}</th>
        <td>{{post.name}}</td>
        <td>{{post.email}}</td>
        <td>{{post.message}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <a href="/logout"> <button type="submit">Logout </button> </a>
</body>
</html>