<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>DealerBot Support</title>
</head>
<body>
<div class="container">
<!-- component -->
<nav class="px-6 py-2 bg-red shadow-md md:flex ">
    <div class="flex justify-between items-center">
        <div class="text-3xl text-gray-800 font-bold hover:text-gray-800">
            <a href="/">DealerBot</a>
        </div>
        <div class="md:hidden">
            <button type="button" class="block text-gray-900 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="w-full pb-2 md:flex md:items-center md:justify-between md:pb-0">
        <div class="flex flex-col px-2 md:flex-row">
            <a href="/" class="py-2 px-2 text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium md:mx-2">Home</a>
            <a href="/command" class="py-2 px-2 text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium md:mx-2">Commands</a>
            <a href="/donate" class="py-2 px-2 text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium md:mx-2">Donate</a>
            <a href="/about" class="py-2 px-2 text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium md:mx-2">About</a>
            <a href="/contact" class="py-2 px-2 text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium md:mx-2">Contact</a>

        </div>
    </div>
    <a href="/login">
        <div class="border-2 border-green-600 rounded-lg px-3 py-2 text-green-400 cursor-pointer hover:bg-green-600 hover:text-green-200">
            Admin
          </div>
        </a>
      </button>

</nav>
</div>
<hr>  
  {% block body %} {% endblock %}


</body>
  </html> 
  