<!DOCTYPE html>
<html>
<body>

<h2>Add a Task</h2>

<form action="/taskcreator" method="POST">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="title" ><br>
  <label for="content">Content</label><br>
  <input type="text" id="content" name="content"><br><br>
  <label for="phone">Phone</label><br>
  <input type="text" id="phone" name="phone" ><br><br>
  <label for="img_file">Image</label><br>
  <input type="text" id="img_file" name="img_file"><br><br>
  <input type="submit" value="Submit">
</form> 
<hr>
<a href="/logout"> <button type="submit">Logout</button> </a>
</body>
</html>
